<!--
/**
 * Theme:       : GhostScroll (Based on Casper)
 * Created by   : Yonatan Wolowelsky
 * Website      : http://grmmph.com
 * License      : MIT
 */
-->

<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    {{! Asynchronously load CSS with preload (polyfill loadCSS) }}
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Oswald:300|Roboto+Slab:400,300,100,700|Open+Sans:400,700" as="style" onload="this.rel='stylesheet'">
    <link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" as="style" onload="this.rel='stylesheet'">

    <noscript>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Oswald:300|Roboto+Slab:400,300,100,700|Open+Sans:400,700' rel='stylesheet' type='text/css'>
        <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css' rel="stylesheet">
    </noscript>

    <link rel="stylesheet" type="text/css" href='{{ asset "css/main.css" }}' />

    {{! Prefetch the hero image}}
    {{#if @blog.cover}}
    <link rel="prefetch" href="{{@blog.cover}}" />
    {{/if}}

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
        <div class="inner">
             <section class="poweredby"><a href="http://ghostscroll.grmmph.com/">GhostScroll</a> theme by <a href="http://grmmph.com">Yonatan</a>.<br>
              Proudly published with <a class="i-ghost" href="http://ghost.org">Ghost</a></section>
        </div>
    </footer>

    {{! We do need jQuery to be loaded before GhostScroll script }}
    <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>

    {{! The main JavaScript file for GhostScroll }}
    <script type="text/javascript" src='{{asset "js/index.js"}}'></script>
    {{> load-css-polyfill}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
